.triangle-left {
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 20px solid #F5F5F5;/*red*/;
	border-bottom: 12px solid transparent;
}
.triangle-left2 {
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 20px solid white;/*red*/;
	border-bottom: 12px solid transparent;
}