
body {
    width: 1366px;
    margin: 0 auto 0 auto;
}
/* button Read More Style*/
.buttonReadMore{
    width: 138px;
    height: 40px;
    border: 1px solid #4592FF;
    border-radius: 20px;
    background: #4592FF;
    color: white;
}
header{
    width: 1366px;
    margin: 0 auto 0 auto;
    /*background-color: goldenrod;*/
}
/* DIV HEAD 1*/
header #divHead1{
    display: flex;
    width: 1140px;
    height: 35px;
    margin: 0 auto 0 auto;
    border-bottom: 1px solid  #D9DADB;
}
header #divHead1 #menuAndSectionsFlex{
    display: flex;
    align-items: center;
    border-right: 1px solid #D9DADB;
}
header #divHead1 #menuAndSectionsFlex>h4{
    margin: 15px;
}
header #divHead1 form{
    display: flex;
    align-items: center;
    height: 35px;
}
header #divHead1 form>img{
    margin: 15px 10px 15px 25px;
}
header #divHead1 form input[type=text]{
    width: 733px;
    height: 33px;
    border: none;
}
header #divHead1 form input[type=text]:focus{
    height: 33px;
    outline:none;
    /*border: 1px solid white;*/
}
header #divHead1 #divSubscribe{
    display: flex;
}
header #divHead1 #divSubscribe>div{
    margin-left: 10px;
}
header #divHead1 #divSubscribe>div>h4{
    margin-top: 1px;
    margin-bottom:0px;
}
header #divHead1 #divSubscribe>div>p{
    margin-top: 1px;
    margin-bottom:2px;
}
header #divHead1 #divSignIn{
    display: flex;
    align-items: center;
    margin-left: 25px;
}
header #divHead1 #divSignIn>p{
    margin-left: 10px;
}

/* DIV HEAD 2*/

header #divHead2{
    display: flex;
    align-items: center;
    width: 1140px;
    height: 84px;
    margin: 0 auto 0 auto;
}
header #divHead2 img:nth-child(1){
    margin-left: 20px;
}
header #divHead2 p:nth-child(2){
    margin-left: 15px;
}
header #divHead2 img:nth-child(3){
   /* flex-grow: 2;*/
    margin-left: 145px;
    margin-right: 235px;
}
header #divHead2 p:nth-child(4){
    margin-right: 23px;
    font-size: 13px;
}
header #divHead2 img:nth-child(5){
/*    margin-right: 50px;*/
    margin-left: 5px;
}
header #divHead2 p:nth-child(6){
     margin-left: 7px;
}

/* DIV HEAD 3*/

header #divHead3{
    height: 55px;
    background-color:#262D33;
   /* margin: 0 auto 0 auto;*/
}
header #divHead3 #divHead3Cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 46px;
    width: 1140px;
    height: 55px;
    /*background-color: green; */
    margin: 0 auto 0 auto;
   /* z-index:10000;*/
}
/*ÊÎÍÅÖ HEADER*/

/* ÎÑÍÎÂÍÛÅ ÁËÎÊÈ*/

/* ÏÅÐÂÛÉ ÁËÎÊ ÏÎÑËÅ ØÀÏÊÈ*/
#divFirstTopPage{
    width: 1366px;
    height: 475px;
    background-color:#262D33;
}
#divRecords{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 1140px;
    height: 130px;
    top: 30px;
    margin: 0px auto 0 auto;
 /*   padding-top: 30px;*/
    border-radius: 10px;
    background: #30363D;
    
}
#divRecords .recordFlex{
    display: flex;
    align-items: center;
    padding-right: 35px;
    border-right: 1px solid #4B5157;
}
#divRecords .recordFlex img{
    margin-left: 10px;
}
#divRecords .recordFlex:last-child{

    padding-right: 0px;
    border-right: none;

}
#divRecords .recordFlex h3{
    width: 145px;
}


/*ÁËÎÊ Ñ ÁÎËÜØÈÌ ÈÇÎÁÐÀÆÅÍÈÅÌ*/
#firstCont{
    background-color: #F5F5F5;
}
#divFirstBigBlock{
   /* position: relative;*/
    display: flex;
    width: 1140px;
    height: 570px;
    margin: -280px auto 0 auto;
    /*border-top-right-radius: 10px;*/
    /*border-bottom-right-radius: 10px;*/
    border-radius: 10px;
    background-color: white;
    z-index: 100;
}
#divFirstBigBlock #divBigImg{
    /*position: relative;*/
    width: 877px;
    height: 570px;
    background-image: url('../img/bigImg.png');
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 50;
}
#divBigImg #divBigImgCont{
    margin-left: 55px;
    padding-top: 55px;
}
#divBigImg .avatarBigImgFlex{
    display: flex;
    align-items: center;
/*    padding-top: 55px;
    margin-left: 55px;*/
}
#divBigImg .avatarBigImgFlex div{
    margin-left: 10px;
}
#divBigImg .avatarBigImgFlex div p:nth-child(1){
    margin-bottom: 2px;
    color: white;
}
#divBigImg .avatarBigImgFlex div p:nth-child(2){
    margin-top: 0px;
    color: white;
}
#divBigImg #divBigImgCont h3{
    margin-top: 165px;
    text-transform: uppercase;
    color: #4592FF;
}
#divBigImg #divBigImgCont h1{
    width: 458px;
    margin-top: 25px;
    /*text-transform: uppercase*/;
    color: white;
}
#divBigImg #divBigImgCont #divButtonFlex{
    display: flex;
    align-items: center;
    gap: 30px;
}
/*#divBigImgCont #divButtonFlex button{
    width: 138px;
    height: 40px;
    border: 1px solid #4592FF;
    border-radius: 20px;
    background: #4592FF;
    color: white;
}*/

#divBigImgCont #divButtonFlex #divPlayFlex{
    display: flex;
    align-items: center;
}
#divBigImgCont #divButtonFlex #divPlayFlex div{
    margin-left: 10px;
}
#divBigImgCont #divButtonFlex #divPlayFlex div p{
    color: white;
}
#divBigImgCont #divButtonFlex #divPlayFlex div p:first-child{
    margin-bottom: 2px;
}
#divBigImgCont #divButtonFlex #divPlayFlex div p:last-child{
    margin-top: 0px;
}

/*
     Recommended for you
*/
#divRecommendMenu{
    width: 263px;
}
#divRecommendMenu h3{
    font-weight: 900;
    margin-left: 25px;
   /* text-align: center;*/
    color: black;
}
.recommendItem{
    width: 263px;
    height: 100px;
    border-bottom: 1px solid #D9DADB;
}
#divRecommendMenu div:first-child{
    border-top: 1px solid #D9DADB;
}
#divRecommendMenu div:last-child:not(.posTriangle){
    border-bottom: none;
}
.selectRecom{
    background-color: #F5F5F5;
}
.recommendItem .recommendItemCont{
    margin-left: 25px;
    padding-top: 17px;
}
.recommendItemCont h4{
    margin-top: 0px;
    margin-bottom: 5px;
    color: #3BBDC4;
}
.recommendItemCont p{
    width: 180px;
    margin-top: 0px;
}
.posTriangle{
    position: relative;
    top: -65px;
    left: -20px;
    z-index:100;
}
#divRecommendMenu div:nth-child(3) h4{
    color:#6E99AE;
}
#divRecommendMenu div:nth-child(4) h4{
    color: #AC8EE3;
}
#divRecommendMenu div:nth-child(5) h4{
    color: #FFA34D;
}
#divRecommendMenu div:nth-child(6) h4{
    color: #3DC47E;
}
/*
    GREY backGround
*/
#divGrey{
    background-color: #F5F5F5;
}
/*
                  CARTS 
*/
/*Cart 1*/
#divCartsFlex{
    display: flex;
    gap: 29px;
    width: 1140px;
    height: 770px;
    margin: 0 auto 0 auto;
    padding-top: 30px;
}
#cartsColumn1{
    width: 555px;
}
#itemCart1{
    width: 555px;
    height: 370px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 15px;
}
#itemCart1>img:first-child{
    float: right;
    border-radius: 15px;
}
#itemCart1 #cart1Cont{
    height: 283px;
    padding-top: 35px;
    margin-left: 35px;
}
#itemCart1 #cart1Cont>h3{
    color: #6E99AE;

}
#itemCart1 #cart1FooterFlex{
    display: flex;
    align-items: center;
    margin-left: 35px;
}
#itemCart1 #cart1FooterFlex p/*:nth-child(2)*/{
    margin-left: 5px;
}
#itemCart1 #cart1FooterFlex img:nth-child(4){
    margin-left: 13px;
}

/* GroupFlex*/
#cartsColumn1 #groupFlex{
    display: flex;
    gap: 29px;
}
/*cart 2*/
#itemCart2{
    width: 263px;
    height: 370px;
    background-color: white;
    border-radius: 15px;
}
#itemCart2 img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#itemCart2 h2{
    width: 210px;
    margin-left: 20px;
    text-align: center;
    color: black;
}
/* cart text*/
.cartText{
    width: 263px;
    height: 170px;
    border-radius: 15px;
    background-color: white;

}
.cartText .cartTextCont{
    margin: 0px 25px 30px 25px;
    padding-top: 25px;
}
.cartText .cartTextCont h2{
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}
.cartText .cartTextCont p{
    margin: 5px 0;
}
.cartText .cartTextCont p:last-child{
    margin-top: 10px ;
}
/* cart 3*/
#itemCart3{
    margin-bottom: 30px;
}

/*Column 2*/
#cartsColumn2{

}
/* cart 5*/
#itemCart5{
    max-width: 263px;
    height: 370px;
    padding-top: 18px;
    padding-left: 18px;
    margin-bottom: 30px;
    box-sizing: border-box;
    background-image: url(../img/ImageCart5.jpg);
    border-radius: 15px;
}
#itemCart5 button{
    width: 66px;
    height: 25px;
    border: 1px solid #3DC47E;
    border-radius: 5px;
    text-align: center;
    background-color: #3DC47E;
    color: white;
}
#itemCart5>div{
    margin-left: 7px;
}
#itemCart5 h4{
    margin-top: 117px;
    margin-bottom: 0px;
    color: #E7D9FF88;
}
#itemCart5 h3{
    width: 180px;   
    margin-top: 10px;
    color: white;
}
#itemCart5 #cart5AvatarFlex{
    display: flex;
}
#itemCart5 #cart5AvatarFlex>img{
    
    width: 45px;
    height: 45px;
    border-radius: 25px;
}   
#itemCart5 #cart5AvatarFlex>div{
    margin-left: 10px;
}
#itemCart5 #cart5AvatarFlex>div>p:first-child{
    margin-top: 2px;
    margin-bottom: 0px;
    color: #FFFFFFAA;
}
#itemCart5 #cart5AvatarFlex>div>p:last-child{
    margin-top: 2px;
    color: #FFFFFF88;
}
#itemCart5 #cart5AvatarFlex>div>p>img{
    position: relative;
    top: 3px;
}
/* cart 6*/

#itemCart6{
    margin-bottom: 30px;
}

/* COLUMN 3*/
#cartsColumn3{
}
/* cart 8*/
#itemCart8{
    width: 263px;
    height: 770px;
    background-color: #6E99AE;
    border-radius: 15px;
}
#itemCart8>div:first-child{
    height: 59px;
    padding-top: 20px;
    padding-left: 25px;
    border-bottom: 1px solid #B4D1E0;
    box-sizing: border-box;
}
#itemCart8>div:first-child>h3{
    margin: 0px;
}
.blueItemCart8{
    width: 263px;
    height: 219px;
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box
}
.blueItemCart8 .quotes{
    font-size: 100px;
}
.blueItemCart8>div{
  position: relative;
  left: 10px;
  top: -30px
}
.blueItemCart8  h4{
    margin: 0px;
    color: white;
}
.blueItemCart8 .avatarBlue{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
   
}
.blueItemCart8 .avatarBlue img{

    border-radius: 25px;

}
.blueItemCart8 .avatarBlue p{
     color: #FFFFFF88;
}
.blueItemCart8 .avatarBlue div p:first-child{
    margin-bottom: 0px;
}
.blueItemCart8 .avatarBlue div p:last-child{
    margin-top: 2px;
}
.borderTopBottom{
    border-top: 1px solid #B4D1E0;
    border-bottom: 1px solid #B4D1E0;
}
#itemCart8>div:last-child{
    height: 59px;
    padding-top: 15px;
    /*padding-left: 25px;*/
    border-top: 1px solid #B4D1E0;
    box-sizing: border-box;
}
#itemCart8>div:last-child h3{
    text-align: center;
    margin: 0px;
    color: white;
}

/* BIG FLOWER*/

#divBigFlower{
    width: 1366px;
    height: 270px;
    margin-top: 60px;
    background-image: url("../img/ImageFlower.jpg");
}

#divBigFlower h1{
    padding-top: 60px;
    text-align: center;
    color: white;
}
#divBigFlower button{
    display: block;
    margin: 25px auto 0 auto;
}